<%= form_with(model: [ @album, @album.songs.build ], local: true) do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
    <p>
      <%= form.label :track %><br>
      <%= form.text_field :track %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>